.card {
  background: linear-gradient(
    135deg,
    rgb(207, 232, 243) 0%,
    rgb(124, 124, 124) 100%
  );
  border-radius: 15px;
  box-shadow: 5px 4px 9px rgb(83, 83, 83);
  display: flex;
  padding: 15px;
  width: 200px;
  border: inset black;
}

.content {
  flex: 1;
  padding-right: 10px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 10px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateZ(
    10px
  ); /* Adding a 3D effect with translation on the z-axis */
  background-color: #c6c4c4; /* Different color for icons container */
  border-radius: 15px;
  padding: 12px;
  border: outset black;
  box-shadow: 5px 4px 9px rgb(83, 83, 83);
}

.icon {
  font-size: 24px;
  margin: 5px 0;
}
.icon:hover {
  transform: scale(1.2);
}

.radio-button {
  color: green;
}

.del-button {
  color: red;
}

.edit-button {
  color: blue;
}
